$background-color: #0c284d;
$color_light_white: #f3e8aa;
$color_white: #ffffff;
$color_transparent: rgba(0,0,0, 0.5);
$color_grey: #3475bb;
$color_red: #a02f2f;
$color_black: #000000;
$color_orange: #ee8223;
$color_purple: #421b8f;
$color_green: #11594d;
$color_yellow: #5e520e;
$font_family_inter: 'Helvetica Neue', sans-serif;
$font_weight_400: 400;
$font_weight_bold: 700;
$small_font: 15px;
$medium_font: 18px;
$large_font: 32px;